html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
    color: #282A2A;
    user-select: none;
}

h1 {
    font-size: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 150px;
    margin: 0 auto;
}

label {
    margin-top: 20px;
}

select,
input {
    color: #282A2A;
    background-color: #DCE1EB;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 0px 0 10px 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

button {
    color: #FDFDFD;
    background-color: #2e2c2d;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

button:hover {
    background-color: #949696;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 70px;
}

ul li {
    font-size: 20px;
    background-color: #FFFDF8;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);

}

ul li:hover {
    background-color: #FFECC7;
    cursor: pointer;
}

.footer {
    display: flex;
    background-color: #282A2A;
    position: fixed;
    bottom: 0;
    z-index: 1;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;

}

.btn {
    background-color: #DCE1EB;
    color: #282A2A;
    flex: 1;
    margin: 0 30px;
    font-weight: 700;

}

.footer>a {
    text-decoration: none;
    color: #DCE1EB;
    border-right: 1px solid #DCE1EB;
    flex-grow: 1;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    letter-spacing: 3px;
}


.title {
    text-align: center;
    font-size: 2rem;
    margin: .5rem;
    font-weight: 900;
    letter-spacing: .3ch;
    text-decoration: overline;
    line-height: 2.5rem;
    text-transform: uppercase;

}

#notes-list {
    white-space: pre-wrap;
}

.message-label {
    text-align: center;
    margin-bottom: 1rem;
}

.submit {
    margin: 1rem;

}

.date {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    padding: 15px;
    border-radius: 8px;
    box-shadow: none;
    text-align: left;
    font-size: 1rem;
    border: none;
    margin: -1rem 0 0 0;

}


.text-input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    border: 2px solid #282A2A;
    border-radius: 4px;
    background-color: #EEF0F4;
    border: 1px solid 282A2A;
    overflow-y: none;
    height: 10ch;
}

.water-temp-title {
    text-decoration: none;
    border-top: 3px solid #282A2A;
    /* padding-top: .5rem; */
}

#calc-temp {
    margin-top: 1rem;
}

.result-container {
    display: flex;
    font-size: 1.5rem;
    font-weight: 700;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
}

.result {
    font-size: 4rem;
    margin-top: 1rem;

}

#room-temp,
#flour-temp {
    font-size: 2rem;
}


.temperatures {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    line-height: 1.2rem;
    height: 100%;
    margin: 0 2rem 5rem 2rem;
    gap: 1rem auto;
    border-top: 1px solid #282A2A;
    padding-top: 2rem;
}
